
.transition-container {
    position: absolute;
    width: 100%;
    height: 70px;
    overflow-y: hidden;
}

.item-enter {
    transform: translate(0px, -70px);
}
.item-enter-active {
    transform: translate(0px, 0%);
    transition: transform 500ms cubic-bezier(.19,.35,.44,1);
}
.item-exit {
    padding-top: 0px;
}
.item-exit-active {
    padding-top: 70px;
    transition: all 500ms cubic-bezier(.19,.35,.44,1);
}

.slide-enter {
    margin-top: -70px;
}
.slide-enter-active {
    margin-top: 0px;
    transition: all 500ms cubic-bezier(.19,.35,.44,1);
}
.slide-exit {
    margin-top: 0px;
}
.slide-exit-active {
    margin-top: -70px;
    transition: all 500ms cubic-bezier(.19,.35,.44,1);
}
.slide-exit-done {
    margin-top: -70px;
}